In [1]:
import pandas as pd
import numpy as np
dir = 'd:\git\project1\data'

In [ ]:
#%%time
#cols = ['timestamp','retweets','text']
#df = pd.read_csv(f'{dir}/tweets.csv', delimiter=';', usecols=cols, skiprows=500000, nrows=500000, names=['id','user','fullname','url','timestamp','replies','likes','retweets','text'], dtype={'fullname': str} )
#df = pd.read_csv(f'{dir}/tweets.csv', delimiter=';', usecols=cols)
#df

In [ ]:
#df_with_retweet = df[df['retweets'] > 1]
#df_with_retweet

In [ ]:
#df_with_retweet.to_csv(f'{dir}/tweets_with_retweet.csv', index=False)

In [2]:
df = pd.read_csv(f'{dir}/tweets_with_retweet.csv')
df

,timestamp,retweets,text
0,2019-05-27 11:49:19+00,2.0,One of the useful articles of Stefan; here is ...
1,2019-05-21 16:49:45+00,84.0,"BTC IS STILL GOING STRONG!!\n\nThus, we are gi..."
2,2019-05-22 12:42:16+00,7.0,BestMixer has been seized by the Dutch Police ...
3,2019-05-27 08:13:06+00,68.0,"Bitcoin Price Hits $8,939 in New 2019 High: Wh..."
4,2019-05-27 11:27:22+00,6.0,You have roughly 6 days left to get your #Laun...
...,...,...,...
942387,2019-11-23 06:39:12+00,15.0,✅China strengthens regulation to restrict bitc...
942388,2019-11-23 14:35:38+00,50.0,We are super happy to announce that TZC is add...
942389,2019-11-18 10:11:08+00,940.0,Registration is now open for the biggest globa...
942390,2019-11-23 15:24:08+00,24.0,$200 #PayPal or #Bitcoin #giveaway \n1) RT thi...
942391,2019-11-23 15:28:50+00,3.0,Happy #FibonacciDay \n\nA while back I created...

In [5]:
import time, datetime
df['date'] = df['timestamp'].apply(lambda x:int(time.mktime(datetime.datetime.strptime(x.split()[0], "%Y-%m-%d").timetuple())))

In [6]:
def time_to_int(time_str):
    time_str = time_str.split('+')[0]
    hh, mm , ss = map(int, time_str.split(':'))
    return ss + 60*(mm + 60*hh)
df['time'] = df['timestamp'].apply(lambda x:time_to_int(x.split()[1]))

In [ ]:
#df['latin'] = df['text'].apply(lambda x: bool(re.search(r'\b\w+\w+\w+\b', x, flags=re.ASCII)))
#df_clear = df[~(df['latin'] == False)]
#df_clear

In [7]:
del df['timestamp']

In [8]:
df

,retweets,text,date,time
0,2.0,One of the useful articles of Stefan; here is ...,1558897200,42559
1,84.0,"BTC IS STILL GOING STRONG!!\n\nThus, we are gi...",1558378800,60585
2,7.0,BestMixer has been seized by the Dutch Police ...,1558465200,45736
3,68.0,"Bitcoin Price Hits $8,939 in New 2019 High: Wh...",1558897200,29586
4,6.0,You have roughly 6 days left to get your #Laun...,1558897200,41242
...,...,...,...,...
942387,15.0,✅China strengthens regulation to restrict bitc...,1574449200,23952
942388,50.0,We are super happy to announce that TZC is add...,1574449200,52538
942389,940.0,Registration is now open for the biggest globa...,1574017200,36668
942390,24.0,$200 #PayPal or #Bitcoin #giveaway \n1) RT thi...,1574449200,55448
942391,3.0,Happy #FibonacciDay \n\nA while back I created...,1574449200,55730

In [10]:
cols = ['timestamp', 'change_1_direct', 'change_3_direct', 'change_7_direct', 'change_30_direct', 'change_90_direct']
btc_usd_df = pd.read_csv(f'{dir}/prepared_btc.csv', usecols=cols)
btc_usd_df

,timestamp,change_1_direct,change_3_direct,change_7_direct,change_30_direct,change_90_direct
0,1380567600,0,0,0,0,0
1,1380654000,1,0,0,0,0
2,1380740400,0,0,0,0,0
3,1380826800,1,0,0,0,0
4,1380913200,1,0,0,0,0
...,...,...,...,...,...,...
2755,1619895600,1,1,1,0,1
2756,1619982000,0,1,1,0,1
2757,1620068400,1,0,1,0,1
2758,1620154800,0,0,0,0,1
2759,1620241200,1,1,1,0,1

In [11]:
union = df.merge(btc_usd_df, how='left', left_on='date', right_on='timestamp')

In [12]:
union.dropna(inplace=True)

In [13]:
union

,retweets,text,date,time,timestamp,change_1_direct,change_3_direct,change_7_direct,change_30_direct,change_90_direct
0,2.0,One of the useful articles of Stefan; here is ...,1558897200,42559,1.558897e+09,1.0,1.0,1.0,1.0,1.0
1,84.0,"BTC IS STILL GOING STRONG!!\n\nThus, we are gi...",1558378800,60585,1.558379e+09,0.0,1.0,1.0,1.0,1.0
2,7.0,BestMixer has been seized by the Dutch Police ...,1558465200,45736,1.558465e+09,1.0,1.0,1.0,1.0,1.0
3,68.0,"Bitcoin Price Hits $8,939 in New 2019 High: Wh...",1558897200,29586,1.558897e+09,1.0,1.0,1.0,1.0,1.0
4,6.0,You have roughly 6 days left to get your #Laun...,1558897200,41242,1.558897e+09,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
942387,15.0,✅China strengthens regulation to restrict bitc...,1574449200,23952,1.574449e+09,0.0,0.0,0.0,0.0,0.0
942388,50.0,We are super happy to announce that TZC is add...,1574449200,52538,1.574449e+09,0.0,0.0,0.0,0.0,0.0
942389,940.0,Registration is now open for the biggest globa...,1574017200,36668,1.574017e+09,1.0,0.0,0.0,1.0,0.0
942390,24.0,$200 #PayPal or #Bitcoin #giveaway \n1) RT thi...,1574449200,55448,1.574449e+09,0.0,0.0,0.0,0.0,0.0
942391,3.0,Happy #FibonacciDay \n\nA while back I created...,1574449200,55730,1.574449e+09,0.0,0.0,0.0,0.0,0.0

In [14]:
union.to_csv(f'{dir}/tweets_change.csv', index=False)

In [48]:
union[target].value_counts()

1.0    485758
0.0    449018
Name: change_1_direct, dtype: int64

In [56]:
union.corr()[target].sort_values()

retweets           0.003209
date               0.069530
time               0.074164
change_1_direct    1.000000
Name: change_1_direct, dtype: float64

In [31]:
#df_day = df[df['date'] == 1336946400]
#df_day_max = df_day[df_day['retweets'] == df_day['retweets'].max()]
#df_day_max

,timestamp,retweets,text,date,time
455337,2012-05-14 16:50:18+00,21.0,bitcoin hacked? but it was going to replace go...,1336946400,60618

In [ ]:
text = df_day_max['text'].iloc[0]
#text = '@bitcoin hacked? @but it was going @to replace gold...'
text = re.sub(r'@\w+', '', text, count=0)
print (text)

In [ ]:
df_clear.groupby('date').nunique()

In [ ]:
df.groupby('date').nunique()

In [ ]:
df.corr()['retweets'].sort_values()