In [1]:
import pandas as pd
import numpy as np
dir = 'd:\git\project1\data'

In [2]:
import torch
import pytorch_transformers
model_class = pytorch_transformers.BertModel
tokenizer_class = pytorch_transformers.BertTokenizer
pretrained_weights = 'bert-base-uncased'

tokenizer = tokenizer_class.from_pretrained(pretrained_weights)
model = model_class.from_pretrained(pretrained_weights)

In [9]:
df = pd.read_csv(f'{dir}/tweets_change.csv')
df

,retweets,text,date,time,timestamp,change_1_direct,change_3_direct,change_7_direct,change_30_direct,change_90_direct
0,2.0,One of the useful articles of Stefan; here is ...,1558897200,42559,1.558897e+09,1.0,1.0,1.0,1.0,1.0
1,84.0,"BTC IS STILL GOING STRONG!!\n\nThus, we are gi...",1558378800,60585,1.558379e+09,0.0,1.0,1.0,1.0,1.0
2,7.0,BestMixer has been seized by the Dutch Police ...,1558465200,45736,1.558465e+09,1.0,1.0,1.0,1.0,1.0
3,68.0,"Bitcoin Price Hits $8,939 in New 2019 High: Wh...",1558897200,29586,1.558897e+09,1.0,1.0,1.0,1.0,1.0
4,6.0,You have roughly 6 days left to get your #Laun...,1558897200,41242,1.558897e+09,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
934771,15.0,✅China strengthens regulation to restrict bitc...,1574449200,23952,1.574449e+09,0.0,0.0,0.0,0.0,0.0
934772,50.0,We are super happy to announce that TZC is add...,1574449200,52538,1.574449e+09,0.0,0.0,0.0,0.0,0.0
934773,940.0,Registration is now open for the biggest globa...,1574017200,36668,1.574017e+09,1.0,0.0,0.0,1.0,0.0
934774,24.0,$200 #PayPal or #Bitcoin #giveaway \n1) RT thi...,1574449200,55448,1.574449e+09,0.0,0.0,0.0,0.0,0.0
934775,3.0,Happy #FibonacciDay \n\nA while back I created...,1574449200,55730,1.574449e+09,0.0,0.0,0.0,0.0,0.0

In [4]:
%%time
tokenized = df['text'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True)))
tokenized

Wall time: 20min 36s

0         [101, 2028, 1997, 1996, 6179, 4790, 1997, 8852...
1         [101, 18411, 2278, 2003, 2145, 2183, 2844, 999...
2         [101, 2190, 4328, 2595, 2121, 2038, 2042, 8243...
3         [101, 2978, 3597, 2378, 3976, 4978, 1002, 1022...
4         [101, 2017, 2031, 5560, 1020, 2420, 2187, 2000...
                                ...
934771    [101, 100, 12919, 2015, 7816, 2000, 21573, 297...
934772    [101, 2057, 2024, 3565, 3407, 2000, 14970, 200...
934773    [101, 8819, 2003, 2085, 2330, 2005, 1996, 5221...
934774    [101, 1002, 3263, 1001, 3477, 12952, 2030, 100...
934775    [101, 3407, 1001, 10882, 11735, 6305, 6895, 10...
Name: text, Length: 934776, dtype: object

In [5]:
max_len = 0
for i in tokenized:
    if len(i) > max_len:
        max_len = len(i)
print(max_len)

507

In [11]:
max = 100
df['raw'] = tokenized.apply(lambda x: x if (len(x) < max) else None)

In [17]:
#tokens = pd.DataFrame()
#tokens['retweets'] = df['retweets'].apply(lambda x: 1 if x>0 else 0)
#max = 100
#tokens['raw'] = tokenized.apply(lambda x: x if (len(x) < max) else None)
#tokens = tokens.dropna()
#tokens = tokenized.apply(token_lenght, max=30)

#tokens['raw'] = tokenized
#tokens.dropna(inplace=True)
#tokens

In [18]:
#%matplotlib
#tokens['retweets'].plot.hist(bins=1000)

In [12]:
padded = np.array([i + [0]*(max-len(i)) if i!=None else [None]*(max) for i in df['raw']])
df_padded = pd.DataFrame(padded)
padded

array([[None, None, None, ..., None, None, None],
       [None, None, None, ..., None, None, None],
       [101, 2190, 4328, ..., 0, 0, 0],
       ...,
       [101, 8819, 2003, ..., 0, 0, 0],
       [101, 1002, 3263, ..., 0, 0, 0],
       [101, 3407, 1001, ..., 0, 0, 0]], dtype=object)

In [13]:
df

,retweets,text,date,time,timestamp,change_1_direct,change_3_direct,change_7_direct,change_30_direct,change_90_direct,raw
0,2.0,One of the useful articles of Stefan; here is ...,1558897200,42559,1.558897e+09,1.0,1.0,1.0,1.0,1.0,None
1,84.0,"BTC IS STILL GOING STRONG!!\n\nThus, we are gi...",1558378800,60585,1.558379e+09,0.0,1.0,1.0,1.0,1.0,None
2,7.0,BestMixer has been seized by the Dutch Police ...,1558465200,45736,1.558465e+09,1.0,1.0,1.0,1.0,1.0,"[101, 2190, 4328, 2595, 2121, 2038, 2042, 8243..."
3,68.0,"Bitcoin Price Hits $8,939 in New 2019 High: Wh...",1558897200,29586,1.558897e+09,1.0,1.0,1.0,1.0,1.0,"[101, 2978, 3597, 2378, 3976, 4978, 1002, 1022..."
4,6.0,You have roughly 6 days left to get your #Laun...,1558897200,41242,1.558897e+09,1.0,1.0,1.0,1.0,1.0,None
...,...,...,...,...,...,...,...,...,...,...,...
934771,15.0,✅China strengthens regulation to restrict bitc...,1574449200,23952,1.574449e+09,0.0,0.0,0.0,0.0,0.0,"[101, 100, 12919, 2015, 7816, 2000, 21573, 297..."
934772,50.0,We are super happy to announce that TZC is add...,1574449200,52538,1.574449e+09,0.0,0.0,0.0,0.0,0.0,"[101, 2057, 2024, 3565, 3407, 2000, 14970, 200..."
934773,940.0,Registration is now open for the biggest globa...,1574017200,36668,1.574017e+09,1.0,0.0,0.0,1.0,0.0,"[101, 8819, 2003, 2085, 2330, 2005, 1996, 5221..."
934774,24.0,$200 #PayPal or #Bitcoin #giveaway \n1) RT thi...,1574449200,55448,1.574449e+09,0.0,0.0,0.0,0.0,0.0,"[101, 1002, 3263, 1001, 3477, 12952, 2030, 100..."
934775,3.0,Happy #FibonacciDay \n\nA while back I created...,1574449200,55730,1.574449e+09,0.0,0.0,0.0,0.0,0.0,"[101, 3407, 1001, 10882, 11735, 6305, 6895, 10..."

In [14]:
%%time
union = pd.concat([df[['retweets','date','time','change_1_direct', 'change_3_direct', 'change_7_direct', 'change_30_direct', 'change_90_direct']], df_padded], axis=1)
union.dropna(inplace=True)
union

Wall time: 8.79 s

,retweets,date,time,change_1_direct,change_3_direct,change_7_direct,change_30_direct,change_90_direct,0,1,...,90,91,92,93,94,95,96,97,98,99
2,7.0,1558465200,45736,1.0,1.0,1.0,1.0,1.0,101,2190,...,0,0,0,0,0,0,0,0,0,0
3,68.0,1558897200,29586,1.0,1.0,1.0,1.0,1.0,101,2978,...,0,0,0,0,0,0,0,0,0,0
6,4.0,1558810800,75329,1.0,1.0,1.0,1.0,1.0,101,1002,...,0,0,0,0,0,0,0,0,0,0
7,85.0,1556737200,63389,1.0,1.0,0.0,1.0,1.0,101,16770,...,0,0,0,0,0,0,0,0,0,0
8,8.0,1558897200,5857,1.0,1.0,1.0,1.0,1.0,101,2978,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934771,15.0,1574449200,23952,0.0,0.0,0.0,0.0,0.0,101,100,...,0,0,0,0,0,0,0,0,0,0
934772,50.0,1574449200,52538,0.0,0.0,0.0,0.0,0.0,101,2057,...,0,0,0,0,0,0,0,0,0,0
934773,940.0,1574017200,36668,1.0,0.0,0.0,1.0,0.0,101,8819,...,2050,2620,102,0,0,0,0,0,0,0
934774,24.0,1574449200,55448,0.0,0.0,0.0,0.0,0.0,101,1002,...,0,0,0,0,0,0,0,0,0,0
934775,3.0,1574449200,55730,0.0,0.0,0.0,0.0,0.0,101,3407,...,0,0,0,0,0,0,0,0,0,0

In [16]:
%%time
union.to_csv(f'{dir}/tweets_change_padded.csv', index=False)

Wall time: 33.5 s

In [17]:
union['change_90_direct'].value_counts()

1.0    564422
0.0    242834
Name: change_90_direct, dtype: int64

In [13]:
tokenized.apply(lambda x: len(x)).sort_values()

363596      3
417982      3
174750      3
874847      3
73458       3
         ...
742519    408
222135    411
804342    424
668836    444
706248    507
Name: text, Length: 934776, dtype: int64